<ion-view title="about " cache-view="false" id="page2" style="background-color:#000000;">
  <ion-content padding="true" class="has-header">
    <h1 id="about-heading10" style="color:#FFDA00;">Lupita Tradition</h1>
    <h4 id="about-heading16" style="color:#FFDA00;">December 12 - January 6</h4>
    <div>
      <img src="img/xfiSItgDT06ueyex1fmZ_calendar.png" style="display: block; width: 100%; height: auto; margin-left: auto; margin-right: auto;">
    </div>
    <h3 id="about-heading12" style="color:#FFDA00;">First.</h3>
    <div id="about-markdown5" class="show-list-numbers-and-dots">
      <p style="color:#FFDA00;">Do good each day! </p>

      <p style="color:#FFDA00;">Help people, be nice, share, and smile!</p>
    </div>
    <div>
      <img src="img/YHFlTietQxSpOF76BKwi_goodeachday.png" style="display: block; width: 100%; height: auto; margin-left: auto; margin-right: auto;">
    </div>
    <h3 id="about-heading13" style="color:#FFDA00;">Second.</h3>
    <div id="about-markdown6" class="show-list-numbers-and-dots">
      <p style="color:#FFDA00;">Each night, write me a letter! </p>

      <p style="color:#FFDA00;">Tell me about the good you did that day. Right here in my app! </p>
    </div>
    <div>
      <img src="img/h1ipKgqnSJqdaxoZvRSH_writeletter.png" style="display: block; width: 100%; height: auto; margin-left: auto; margin-right: auto;">
    </div>
    <h3 id="about-heading14" style="color:#FFDA00;">Third.</h3>
    <div id="about-markdown7" class="show-list-numbers-and-dots">
      <p style="color:#FFDA00;">Hope for the 3 Kings to come!</p>

      <p style="color:#FFDA00;">The 3 Kings come January 6th, and might leave you a little surprise! Be sure to leave your shoe outside your bedroom door the night of January 5th!</p>
    </div>
    <div>
      <img src="img/YkkkIFWTCWRZNdzUoMmu_3kings.png" style="display: block; width: 100%; height: auto; margin-left: auto; margin-right: auto;">
    </div>
    <h1 id="about-heading15" style="color:#FFDA00;">Bonus!</h1>
    <div id="about-markdown8" class="show-list-numbers-and-dots">
      <p style="color:#FFDA00;">On Christmas, give your parents a homemade gift made by you! </p>

      <p style="color:#FFDA00;">Make sure to put me by your tree so I can see!</p>
    </div>
    <div>
      <img src="img/sQt6g9YRRTOUra0tJ1HT_homemade.png" style="display: block; width: 100%; height: auto; margin-left: auto; margin-right: auto;">
    </div>
    <h3 id="about-heading17" style="color:#FFDA00;">Don't forget to send me a letter each day please!</h3>
    <a ui-sref="menu.lupitaSLetters" id="about-button8" class="button button-energized  button-block">Okay!</a>
  </ion-content>
</ion-view>