<ion-view title="Thanks!" id="page5" style="background-color:#0C0C0C;">
  <ion-content padding="true" class="has-header">
    <h3 id="thanks-heading8" style="color:#FFEB00;">Do good each day!</h3>
    <h4 id="thanks-heading9" style="color:#FFF400;">Don't Forget! The 3 Kings Come January 6th!</h4>
    <div>
      <img src="img/Pks254T6QJW5HyZDF9M1_lupita_wave.svg" style="display: block; width: 40%; height: auto; margin-left: auto; margin-right: auto;">
    </div>
    <h3 id="thanks-heading7" style="color:#FFFF00;">Send me another letter tomorrow!</h3>
    <a ui-sref="menu.lupitaSLetters" id="thanks-button4" class="button button-energized  button-block">Okay</a>
  </ion-content>
</ion-view>