<ion-view title="Write Me" cache-view="false" id="page4" style="background-color:#F5DC7E;">
  <ion-content padding="true" class="has-header">
    <div class="spacer" style="width: 300px; height: 28px;"></div>
    <h2 id="writeMe-heading2" style="color:#000000;">Dear Lupita,</h2>
    <form id="writeMe-form4" class="list">
      <label class="item item-input item-floating-label" id="writeMe-input4">
        <input type="text" placeholder="Type something good you did today!">
      </label>
      <div class="spacer" style="width: 300px; height: 64px;"></div>
      <h2 id="writeMe-heading5" style="color:#000000;">Love,</h2>
      <label class="item item-input item-floating-label" id="writeMe-input6">
        <input type="text" placeholder="Name">
      </label>
      <div class="spacer" style="width: 300px; height: 108px;"></div>
      <a ui-sref="menu.thanks" id="writeMe-button2" class="button button-calm  button-block">Send</a>
    </form>
  </ion-content>
</ion-view>